<div id="notifications-container" class="col-md-12">
    <header>Alert Type</header>
    <div class="notify-setting-area">

        <div class="switch-container">
            <span class="switch-title">Rx</span>
            <div class="on-off-container"ng-click="toggleSwitch($event)">
                <span class="switch-text"></span>
                <span class="switch"></span>
            </div>
        </div>

        <div class="switch-container">
            <span class="switch-title">Appointments</span>
            <div class="on-off-container"ng-click="toggleSwitch($event)">
                <span class="switch-text"></span>
                <span class="switch"></span>
            </div>
        </div>

        <div class="switch-container">
            <span class="switch-title">Claims</span>
            <div class="on-off-container"ng-click="toggleSwitch($event)">
                <span class="switch-text"></span>
                <span class="switch"></span>
            </div>
        </div>

    </div>
    <header>Delivery Method</header>
    <div class="notify-setting-area">
        <div class="switch-container">
            <span class="switch-title">Push</span>
            <div class="on-off-container"ng-click="toggleSwitch($event)">
                <span class="switch-text"></span>
                <span class="switch"></span>
            </div>
        </div>

        <div class="switch-container">
            <span class="switch-title">Email</span>
            <div class="on-off-container"ng-click="toggleSwitch($event)">
                <span class="switch-text"></span>
                <span class="switch"></span>
            </div>
        </div>

        <div class="switch-container">
            <span class="switch-title">Text</span>
            <div class="on-off-container"ng-click="toggleSwitch($event)">
                <span class="switch-text"></span>
                <span class="switch"></span>
            </div>
        </div>

    </div>
</div>
