.remember-text {
    font-size: 12px;
    color: @white;
}

.login-container {
    padding: 100px 30px 0px;

    label {
        color: @white;
    }
}

.login-button {
    padding: 10px 50px 10px 16px;
    display: block;
    margin: 50px auto 0;

    .glyphicon {
        top: 2px;
        left: 28px;
    }
}