

.navItemsContainer {
    width: 80%;
    min-height: 100%;
    margin: 0 !important;
    color: @white;

    background-color: @main-background;
    position: fixed;
    right: 100%;

    transition-property: right;
    transition-duration: 0.4s;
}

.navItemsContainer.active {
    right: 20%;
    transition-property: right;
    transition-duration: 0.4s;
}

.subNavItemsContainer {
    width: 80%;
    margin: 0 !important;

    background-color: @white;
    position: absolute;
    right: 100%;

    transition-property: right;
    transition-duration: 0.4s;
}

.subNavItemsContainer.sub-active {
    right: 20%;
    transition-property: right;
    transition-duration: 0.4s;
}

.navbar {
    margin-bottom: 0;
    border: 0;
}

.navbar-text {
    margin-left: 15px;
}

.navbar-brand {
    text-align: center;
}

.nav-menu {
    float: none;
    position: absolute !important;
    left: 10px;
}

.app-name {
    text-align: center;
    float: none;
    display: block;
    color: @white !important;
}

.main-title-bar {
    position: fixed;
    width: 100%;
}

.navbar-nav {
    margin: 0 -15px;
    background-color: @main-tabs;

    li {
        border-bottom: 1px solid #000;
        color: @white;
        position: relative;

        a {
            padding: 13px 15px;
            color: @white !important;
        }

        .nav-images {
            display: block;
            width: 25px;
            position: absolute;
            top: 7px;
            left: 20px;
        }
    }
}
.navbar-nav.primary {
    li {
        padding-left: 51px;
    }
}

.navbar-default {
    background-color: @main-background;

    .navbar-toggle {
        color: @white;
        border: 0;
        position: relative;
        left: 4px;
        top: -1px;

        .glyphicon {
            display: none;
        }

        .icon-bar {
            background-color: @white;
            width: 32px;
            height: 4px;
        }
    }
}

.navbar-default .navbar-toggle.active {
    .icon-bar {
        display: none !important;
    }

    .glyphicon {
        display: block;
        font-size: 30px;
        top: -5px;
    }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

#nav-profile {
    width: 35%;
    margin: 0 auto 0;
    text-align: center;
    font-size: 18px;
    background-color: @main-background;
    padding-bottom: 10px;

    img {
        width: 100%;
        margin-bottom: 5px;
    }
}
