.navItemsContainer {
    width: 80%;
    margin: 0 !important;

    background-color: @white;
    position: absolute;
    right: 100%;

    transition-property: right;
    transition-duration: 0.4s;
}

.navItemsContainer.active {
    right: 20%;
    transition-property: right;
    transition-duration: 0.4s;
}

.subNavItemsContainer {
    width: 80%;
    margin: 0 !important;

    background-color: @white;
    position: absolute;
    right: 100%;

    transition-property: right;
    transition-duration: 0.4s;
}

.subNavItemsContainer.sub-active {
    right: 20%;
    transition-property: right;
    transition-duration: 0.4s;
}