<div class="navbar navbar-default navbar-static-top main-title-bar" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle pull-left nav-menu" type="button" ng-click="activeButton()" ng-show="nav.isLoggedIn()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand app-name">Healthx</a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse navItemsContainer" id="navbar-main" ng-class="{'active': navActive}">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ng-click="subActiveButton($event)" data-link-name="{{item.subNavName}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        <li><a ng-click="closeMenu()">Close Menu</a></li>
      </ul>

      <!--<ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>-->
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse subNavItemsContainer" id="navbar-sub" ng-class="{'sub-active': subNavActive}">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.subMenu" ui-sref-active="active">
          <a ng-click="openPage($event)" data-link-name="{{item.pageName}}" ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        <li><a ng-click="menuBack()">Back</a></li>
        <li><a ng-click="closeMenu()">Close Menu</a></li>
      </ul>

      <!--<ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>-->
    </div>
  </div>
</div>
<div class="user-name main-header"><!--Jane Smith-->{{ nav.getCurrentUser().name }}</div>

