<navbar></navbar>
<div id="main-container" ng-class="{'active': isActive}">
	<div id="main-overlay" ng-class="{'active': isActive}"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<tabset>
					<div class="tab-holder-gradient"></div>
					<tab class="main-tabs">
						<tab-heading class="tab-heading" ng-click="main.createChart($event)" data-tab-index="1">
							<img src="../../assets/images/Medical.png" class="tab-image">
							<span>Health</span>
						</tab-heading>
						<canvas id="myChart1" class="main-pie-chart"></canvas>
						<div class="overview-summary">
							<table class="summary-table">
								<tr>
									<td class="legend-color"><span class="color-one"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$1000</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-two"></span></td>
									<td class="table-text">Paid</td>
									<td class="table-text">$750</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-three"></span></td>
									<td class="table-text">Remaining</td>
									<td class="table-text">$250</td>
								</tr>
							</table>

							<div id="claims-history">
								<div class="tab-holder-gradient"></div>
								<span class="claims-history-title">Claims History</span>
								<tabset>
									<div class="tab-holder-gradient"></div>
									<tab class="secondary-tabs">
										<tab-heading>
											<span class="secondary-sub-tabs">Approved</span>
										</tab-heading>
										<table class="secondary-table">
											<tr class="headings">
												<td>Date</td>
												<td>Description</td>
												<td>Amount</td>
											</tr>
											<tr>
												<td>9.7.15</td>
												<td>Claims information goes here</td>
												<td>$99.44</td>
											</tr>
										</table>
									</tab>

									<tab class="secondary-tabs">
										<tab-heading>
											<span class="secondary-sub-tabs">Pending</span>
										</tab-heading>
										<table class="secondary-table">
											<tr class="headings">
												<td>Date</td>
												<td>Description</td>
												<td>Amount</td>
											</tr>
											<tr>
												<td>1.7.16</td>
												<td>Claims information goes here</td>
												<td>$393.43</td>
											</tr>
											<tr>
												<td>7.7.13</td>
												<td>Claims information goes here</td>
												<td>$10.44</td>
											</tr>
											<tr>
												<td>1.7.16</td>
												<td>Claims information goes here</td>
												<td>$393.43</td>
											</tr>
										</table>
									</tab>

									<tab class="secondary-tabs">
										<tab-heading>
											<span class="secondary-sub-tabs">Denied</span>
										</tab-heading>
										<table class="secondary-table">
											<tr class="headings">
												<td>Date</td>
												<td>Description</td>
												<td>Amount</td>
											</tr>
											<tr>
												<td>7.7.13</td>
												<td>Claims information goes here</td>
												<td>$10.44</td>
											</tr>
											<tr>
												<td>2.9.16</td>
												<td>Claims information goes here</td>
												<td>$176.34</td>
											</tr>
										</table>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>
					<tab class="main-tabs">
						<tab-heading class="tab-heading" ng-click="main.createChart($event)" data-tab-index="2">
							<img src="../../assets/images/Dental.png" class="tab-image">
							<span>Vision</span>
						</tab-heading>
						<canvas id="myChart2" class="main-pie-chart"></canvas>
						<div class="overview-summary">
							<table>
								<tr>
									<td class="legend-color"><span class="color-one"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$1000</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-two"></span></td>
									<td class="table-text">Paid</td>
									<td class="table-text">$750</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-three"></span></td>
									<td class="table-text">Remaining</td>
									<td class="table-text">$250</td>
								</tr>
							</table>

						</div>
					</tab>
					<tab class="main-tabs">
						<tab-heading class="tab-heading" ng-click="main.createChart($event)" data-tab-index="3">
							<img src="../../assets/images/Opthalmologist.png" class="tab-image">
							<span>Dental</span>
						</tab-heading>
						<canvas id="myChart3" class="main-pie-chart"></canvas>
						<div class="overview-summary">
							<table>
								<tr>
									<td class="legend-color"><span class="color-one"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$1000</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-two"></span></td>
									<td class="table-text">Paid</td>
									<td class="table-text">$750</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-three"></span></td>
									<td class="table-text">Remaining</td>
									<td class="table-text">$250</td>
								</tr>
							</table>
						</div>
					</tab>
				</tabset>
			</div>

			<!--The pages for the app go here-->
			<div id="myPages">
				<primary class="not-active page-view"></primary>
				<dependents class="not-active page-view"></dependents>
				<primaryid class="not-active page-view"></primaryid>
				<dependentsid class="not-active page-view"></dependentsid>
				<planinfo class="not-active page-view"></planinfo>
			</div>


			<footer></footer>
		</div>
	</div>
</div>