<navbar></navbar>
<div id="main-container" ng-class="{'active': isActive}">
	<div id="main-overlay" ng-class="{'active': isActive}"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<tabset>

					<tab>
						<tab-heading ng-click="main.createChart($event)" data-tab-index="1">
							<i class="glyphicon glyphicon-eye-open"></i>
							<span>Health</span>
						</tab-heading>
						<canvas id="myChart1" class="main-pie-chart"></canvas>
						<div class="overview-summary">
							<table>
								<tr>
									<td class="legend-color"><span class="color-one"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$1000</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-two"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$750</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-three"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$250</td>
								</tr>
							</table>

							<div id="claims-history">
								<span class="claims-history-title">Claims History</span>
								<tabset>
									<tab>
										<tab-heading>
											<span>Approved</span>
										</tab-heading>
										<p>Test!</p>
									</tab>

									<tab>
										<tab-heading>
											<span>Pending</span>
										</tab-heading>
										<p>Test1</p>
									</tab>

									<tab>
										<tab-heading>
											<span>Denied</span>
										</tab-heading>
										<p>Test2</p>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>
					<tab>
						<tab-heading ng-click="main.createChart($event)" data-tab-index="2">
							<i class="glyphicon glyphicon-eye-open"></i>
							<span>Vision</span>
						</tab-heading>
						<canvas id="myChart2" class="main-pie-chart"></canvas>
						<div class="overview-summary">
							<table>
								<tr>
									<td class="legend-color"><span class="color-one"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$1000</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-two"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$750</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-three"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$250</td>
								</tr>
							</table>

						</div>
					</tab>
					<tab>
						<tab-heading ng-click="main.createChart($event)" data-tab-index="3">
							<i class="glyphicon glyphicon-eye-open"></i>
							<span>Dental</span>
						</tab-heading>
						<canvas id="myChart3" class="main-pie-chart"></canvas>
						<div class="overview-summary">
							<table>
								<tr>
									<td class="legend-color"><span class="color-one"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$1000</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-two"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$750</td>
								</tr>
								<tr>
									<td class="legend-color"><span class="color-three"></span></td>
									<td class="table-text">Deductible</td>
									<td class="table-text">$250</td>
								</tr>
							</table>
						</div>
					</tab>
				</tabset>
			</div>

			<!--The pages for the app go here-->
			<div id="myPages">
				<profile class="not-active"></profile>
				<settings class="not-active"></settings>
			</div>


			<footer></footer>
		</div>
	</div>
</div>